{% extends 'base.html.twig' %}

{% block title %}Herbiers{% endblock %}

{% block body %}

<div class="container">

    <div class="releves">

        <h2>Relevés</h2>
    
        <table class="table table-bordered">

            <tr>

                <th>Date</th>
                <th>Lieu</td>
                <th>Relevé Brut</th>
                <th>Tableau</th>
                <th>Visualisation</th>
                <th>Actions</th>
            
            </tr>

            {% for releve in releves %}

                <tr>
                    <td>{{ releve.date|date('d/m/Y') }}</td>
                    <td>{{ releve.lieuId.nom }}</td>
                    <td class="brut">{{ releve.brut }}</td>
                    <td>

                        {# Je veux que le brut s'affiche sous la forme d'un tableau de 3x3 #}
                        {% set brut = releve.brut|split('/') %}
                        {% set brut = brut|batch(3) %}
                        <table class="table table-bordered">
                        {% for ligne in brut %}
                            <tr>
                                {% for colonne in ligne %}
                                    <td>{{ colonne }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </table>
                    
                    </td>
                    
                    <td class="visualisation"></td>
                    
                    <td>
                        <a href="{{ path('app_releves_edit', {'id': releve.id}) }}" class="btn btn-primary">Modifier</a>
                        <a href="{{ path('app_releves_delete', {'id': releve.id}) }}" class="btn btn-danger">Supprimer</a>
                    </td>

                </tr>

            {% endfor %}

        </table>

    </div>

    <div class="add-releve">

        <h2>Ajouter un relevé</h2>
        {{ include('releves/_form.html.twig') }}

    </div>
    
</div>

<script src="{{ asset('js/visualisation.js') }}"></script>

{% endblock %}

